MODEL_ID = "gemini-2.5-flash"

GOOGLE_GENAI_USE_VERTEXAI = FALSE
GOOGLE_API_KEY = ""

POSTGRES_HOST = "postgres_db"
POSTGRES_PORT = "5432"
POSTGRES_USER = "admin"
POSTGRES_PASSWORD = "123456"
POSTGRES_DB = "db"

AGENT_SERVER_HOST = "agent-server"
AGENT_SERVER_PORT = "8000"

INGESTOR_SERVER_HOST = "ingestor"
INGESTOR_SERVER_PORT = "8001"

BE_SERVER_HOST = "back-end"
BE_SERVER_PORT = "8002"

CHATBOT_SERVER_HOST = "chatbot-server"
CHATBOT_SERVER_PORT = "8003"

EVALUATION_MODEL_ID = "gpt-4o"
EVALUATION_API_KEY = ""

ENABLE_PERSONA = "true"
